img {
    max-width: 100%;
    max-height: 100%;
}
.marker{
    width:10px;
    height:10px;
    border-radius:10px;
    background-color:red;
    position: absolute;
    top:0;
    left:0;
}

.container {
    position: relative;
}

.popUp {
    width: 27%;
    height: 250px;
    background-color: white;
    position: absolute;
    /*visibility: hidden;*/
}

h3 {
    text-align: center;
}

button {
    
    background-color: green;
    border-radius: 3px;
    color: blue;
}