.container {
	position: relative;
}
img {
 max-width:100%;
 max-height:100%;
}
.marker {
	background-color: red;
	height: 10px;
	width: 10px;
	position: absolute;
	border-radius: 10px;
	top:0;
	left:0;
}
.popUp {
	width: 20%;
	height: 50%;
	background-color: white;
	position: absolute;

}
h3 {
	text-align: center;
}
button {
	border-radius: 3px;
	background-color: green;
	color: white;

}