<!DOCTYPE html>
<html ng-app='goldRush'>
<head>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.4/angular.js"></script>
    <link rel="stylesheet" type="text/css" href="Goldrush.css">
    <title>Colorado TopoMap Gold Rush</title>
</head>
    <body ng-controller="troller">
    <div ng-click = 'drop()' ng-model='addNote' class ='container'>
        <div class='popUp' ng-model=''
        <img src="https://github.com/RefactorU/exercise-starters/blob/master/client-js/gold-rush/topo-co.jpg?raw=true"></img>
    </div>
    <div ng-click = 'removeMarker($index, $event)' class="marker" ng-repeat="mark in marker" style="top:{{mark.y-6}}px;left:{{mark.x-6}}px;"></div>
	  <script src="GoldRush.js"></script>
	  <div
	  
  </body>
</html>